@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section .tablet {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  margin-left: 12vw;
  margin-top: -12vh;
  scale: 0.9;
}


.tablet-screen img {
  width: 12vw;
  height: 12vw;
}

.home-section h1 {
  font-size: 4vw;
  color: #333333;
}

.home-section span.text {
  padding: 0;
  padding-right: 4px;
  border-right: 2px solid #747474;
  animation: blink 0.75s infinite;
}

.home-section .blue {
  color: #4480ff;
}

.home-section .green {
  color: #4caf50;
}

.home-section .yellow {
  color: #f4b400;
}

.home-section .red {
  color: #f44336;
}

.home-section p.info {
  font-size: 12px;
  margin-top: 6rem;
  color: #747474;
}

.home-section p.info a {
  text-decoration: none;
  color: #4480ff;
}

.home-section .tablet .tablet-mockup {
  width: 60vw;
  height: 80vh;
  background: #222;
  border: 4px solid white;
  border-radius: 36px;
  box-shadow: -1em -0.5em 1.5em hsla(0, 0%, 0%, 0.4),
    0 0 0 1px hsl(0, 0%, 67%) inset;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section .tablet .tablet-screen {
  width: 58.5vw;
  height: 77vh;
  background: rgb(240, 240, 240);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section .tablet .stylus img {
  height: 50vh;
  width: 5vw;
  background: transparent;
  filter: drop-shadow(-8px -2px 4px rgba(0, 0, 0, 0.4));
}


@keyframes blink {
  0% {
    border-right: 2px solid #747474;
  }

  50% {
    border-right: 2px solid transparent;
  }

  100% {
    border-right: 2px solid #747474;
  }
}

@media screen and (max-width: 768px) {
  .home-section .tablet .stylus img {
    height: 50vh;
    width: 8vw;
  }

  .home-section .tablet .tablet-mockup {
    width: 50vw;
    height: 80vh;
  }

  .home-section .tablet .tablet-screen {
    width: 48vw;
    height: 78vh;
  }
}

@media screen and (max-width: 431px) {
  .home-section {
    flex-direction: row;
    margin-left: 12vw;
    align-items: center;
  }

  .tablet-screen img {
    width: 20vw;
    height: 20vw;
  }

  .home-section h1 {
    font-size: 6vw;
  }

  .home-section .tablet .stylus img {
    height: 40vh;
    width: 16vw;
    margin-left: -4vw;
  }

  .home-section .tablet .tablet-mockup {
    width: 80vw;
    height: 74vh;
  }

  .home-section .tablet .tablet-screen {
    width: 76vw;
    height: 72vh;
  }
}

@media screen and (max-width: 933px) {
  .home-section {
    margin-left: 4vw;
    margin-bottom: 8vh;
  }
}