.lamp-container {
    position: absolute;
    left: -20vw;
    top: -30vw;
    z-index: 100;
}

.lamp-container img {
    width: 46vw;
    height: auto;
    rotate: 20deg;
    filter: drop-shadow(-1.4vw 1.2vw 0.5vw rgba(0, 0, 0, 0.6));
    scale: 0.9;
}

.pen-holder-container {
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.pen-holder-container img {
    width: 22vw;
    height: auto;
    filter: drop-shadow(-0.8vw 1vw 0.5vw rgba(0, 0, 0, 0.7));
}

.files-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 50;
}

.files-container img {
    width: 46vw;
    height: auto;
    rotate: -20deg;
    filter: drop-shadow(-1.4vw 1.2vw 0.5vw rgba(0, 0, 0, 0.9));
}

@media (max-width: 435px) {
    .lamp-container {
        left: 0;
        top: -20vh;
        display: none;
    }

    .lamp-container img {
        width: 40vh;
        rotate: 40deg;
    }

    .pen-holder-container {
        left: 40%;
        top: 70%;
        scale: 1.2;
    }

    .pen-holder-container img {
        width: 24vh;
        rotate: 40deg;
    }

    .files-container {
        right: 10vw;
        top: 25%;
        transform: translate(0, -50%);
        scale: 1.2;
    }

    .files-container img {
        width: 42vh;
        rotate: -40deg;
    }
}
